@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.test .dock-box {
  z-index: 2000 !important;
}

.test .dock-fbox {
  z-index: 2001 !important;
}

.test .dock-drop-square {
  z-index: 2000 !important;
}

.test .dock-drop-indicator {
  z-index: 2001 !important;
}

.test .dock-panel.dragging {
  z-index: 2002 !important;
}